*{
    margin: 0;
    padding: 0; 
    font-family: 'Open Sans', sans-serif;
}

/* header and navigation style */

.nav-name {
    font-weight: 800;
   font-size: 45px;
    
}

nav {
    display: flex;
    justify-content: space-between;
margin: 50px 200px;
background: red;
}

nav ul {
    display: flex;
    justify-content: space-between;
}

nav li {
    list-style: none;
}

.text-color {
    color: #ffae00;
}